body{
    width: 1350px;
    height: 581px;
    background: url("../image/404A.gif") no-repeat 0px -20px;
}
.input{
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 30px;
    margin-top: 330px;
    margin-left: 850px;
    border: 0 none;
    border-radius: 10px;
    color: white;
}
.input a{
    color: #d1b957;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}