
#oo{
    margin-top:150px;
}
.status3xx { background-color: #475076; color: #FFFFFF; }
.status4xx { background-color: #C55042; color: #FFFFFF; }
.status5xx { background-color: #6fb3e0; color: #FFFFFF; margin-bottom: 30px;}