/*主体*/
body {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#content {
    /*框架设置*/
    margin: 0 auto;
    overflow: hidden;
    width: 1366px;
    height: 3100px;
    position: relative;
    text-align: center;
}

.header {
    /*头部的图标和LOGO定位*/
    /*background: red;*/
    background: white;
    width: 1366px;
    position: fixed;
    top: 0;
    margin: 0 auto;
    animation: header 3s;
    z-index: 10;
}

/*@keyframes header {*/
/*0%{*/
/*transform: translateY(-50px);*/
/*}*/
/*100%{*/
/*transform: translateY(0px);*/
/*}*/
/*}*/
.header ul, .header li {
    cursor: pointer;
    /*列表清零 取消列表符号 并且排成一行*/
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
}

.header ul li:nth-of-type(1) {
    /*第一个图标向右边靠*/
    margin-left: -37px;
}

#logo {
    /*LOGO向右边靠*/
    margin-left: 270px;
    position: relative;
    top: 10px;
}

#logo:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.001);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

li img:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.header ul li:nth-of-type(6) {
    /*第五个图标向右边靠*/
    margin-left: 270px;
}

.header ul li:nth-of-type(2) {
    margin-left: 10px;
}

.header ul li:nth-of-type(3) {
    margin-left: 10px;
}

.header ul li:nth-of-type(4) {
    margin-left: 10px;
}

.header ul li:nth-of-type(7) {
    margin-left: 10px;
}

.header ul li:nth-of-type(8) {
= margin-left : 10 px;
}

.header ul li:nth-of-type(9) {
    margin-left: 10px;
}

.aa {
    border: 1px rgba(200, 200, 200, 0.5) solid;
    border-radius: 20px;
    top: 5px;
    right: 420px;
    position: absolute;
    display: none;
    z-index: 1;
}

.wxa:hover .aa {
    display: block;
}

hr {
    margin-top: 15px;
    margin-bottom: 0;
    background: #dfdcda;
    border: #dfdcda 1px solid;
}

#daohang {
    width: 1000px;
    margin: 10px auto 0 auto;
    color: #333333;
    margin-left: 180px;
    position: absolute;
    top: 75px;
}

#daohang ul, #daohang li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#daohang li {
    float: left;
    margin-left: 30px;
}

#daohang li:nth-of-type(1) {
    margin-left: 150px;
}

#daohang li:last-of-type {
    clear: right;
}

#daohang a {
    display: inline-block;
    color: #888;
    line-height: 30px;
    text-align: center;
    width: 70px;
    text-decoration: none;
}

#daohang a:hover {
    border: 1px solid #898a89;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;;
    box-sizing: border-box;
}

#daohang li:nth-of-type(7) a {
    border: 1px solid #898a89;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;;
    box-sizing: border-box;
}

.sxx {
    font-weight: bold;
    margin-top: 20px;
}

.warp {
    position: absolute;
    margin-top: 90px;
    left: 20px;
    z-index: 2;
}

.warp img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fdddd {
    position: absolute;
    top: 680px;
    left: 650px;
}

/*视频*/
#po {
    overflow: hidden;
    width: 1280px;
    position: absolute;
    top: 710px;
}

#po ul {
    list-style-type: none
}

video {
    object-fit: fill;
    width: 350px;
    height: 230px;
}

.a1 {
    margin-left: -800px;
    margin-top: 30px;
}

.a2 {
    margin-left: 10px;
    margin-top: -240px;
}

.a3 {
    margin-left: 800px;
    margin-top: -240px;
}

/*加载更多*/
#c1 {
    height: 5.6em;
}

#c1 button {
    color: #d897a6;
    font-weight: bold;
}

#c1 {
    position: absolute;
    top: 1020px;
    left: 0;
}

#c1 a {

}

#aap {
    position: absolute;
    top: 1140px;
    left: 635px;

}

#aap a {
    font-size: 14px;
    color: #000000;
    font-weight: bolder;
}

.mm {
    position: absolute;
    top: 1200px;
}

.xzc {
    margin-top: 40px;
}

.xzc p {
    font-family: 黑体;
    font-size: 20px;
    font-weight: bold;
}

.alp {
    position: absolute;
    top: 1800px;
    left: 200px;
}

.alp img {
    color: #000000;
    margin-top: 20px;
}

.alp ul {
    list-style-type: none
}

.g1 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: -610px;
    margin-left: 70px;
}

.g2 {
    font-size: 11px;
    margin-top: -14px;
    margin-left: 445px;
}

.g3 {
    font-size: 11px;
    margin-top: -14px;
    margin-left: 475px;
}

.g4 {
    font-size: 11px;
    margin-top: -14px;
    margin-left: 143px;
}

.v1 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: 40px;
    margin-left: -150px;
}

.v2 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: -14px;
    margin-left: -474px;
}

.v3 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: -14px;
    margin-left: -510px;
}

.v4 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: -14px;
    margin-left: -167px;
}

.o1 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: 30px;
    margin-left: 70px;
}

.o2 {
    font-size: 11px;
    margin-top: -14px;
    margin-left: 445px;
}

.o3 {
    font-size: 11px;
    margin-top: -14px;
    margin-left: 475px;
}

.o4 {
    font-size: 11px;
    margin-top: -14px;
    margin-left: 143px;
}

.x1 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: 30px;
    margin-left: -150px;
}

.x2 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: -14px;
    margin-left: -474px;
}

.x3 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: -14px;
    margin-left: -510px;
}

.x4 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: -14px;
    margin-left: -167px;
}

.f1 {
    font-family: 黑体;
    font-size: 11px;
    margin-top: 55px;
    margin-left: 70px;
}

.f2 {
    font-size: 11px;
    margin-top: -14px;
    margin-left: 445px;
}

.f3 {
    font-size: 11px;
    margin-top: -14px;
    margin-left: 475px;
}

.f4 {
    font-size: 11px;
    margin-top: -14px;
    margin-left: 143px;
}

.om {
    position: absolute;
    top: 2450px;
}

#footer {
    width: 1366px;
    background: #101010;
    height: 280px;
    position: absolute;
    top: 2800px;
}

.avo {
    list-style: none;
}

.avo li {
    display: block;
    float: left;
    vertical-align: middle;
}

#left ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #aaaaaa;
    font-size: 13px;
    line-height: 30px;
}

#left2 ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #aaaaaa;
    font-size: 13px;
    line-height: 30px;
}

#left {
    float: left;
    margin-top: 70px;;
    margin-left: 130px;;
    text-align: left;
}

#left li:nth-of-type(1) {
    color: #dddddd;
    font-size: 15px;
    margin-bottom: 20px;
}

.num {
    cursor: cell;
    color: #777;
}

#left2 {
    float: left;
    margin-top: 70px;
    margin-left: 170px;
}

#left2 li:nth-of-type(1) {
    color: #dddddd;
    font-size: 15px;
    margin-bottom: 20px;
}

#left3 {
    float: left;
    margin-top: 70px;
    margin-left: 150px;
}

#left3 li:nth-of-type(1) {
    color: #dddddd;
    font-size: 15px;
    margin-bottom: 20px;
}

#left3 ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #aaaaaa;
    font-size: 13px;
    line-height: 30px;
}

#right ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #aaaaaa;
    font-size: 13px;
    line-height: 30px;
}

#right li:nth-of-type(1) {
    color: #dddddd;
    font-size: 15px;
    margin-bottom: 20px;
}

#right {
    float: left;
    margin-top: 70px;
    margin-left: 180px;
}

.yxaaa {
    border: #2f2f2d 1px solid;
    background: transparent;
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
    outline: none;
    color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.jiaru {
    margin: 0;
    color: #666;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px #2f2f2d solid;
    border-width: 1px 1px 1px 0;
    background: transparent;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.jiaru:hover {
    background: #333;
}

#left2 a {
    color: #777;
    text-decoration: none;
}

#left2 a:hover {
    color: white;
}

#left3 a {
    color: #777;
    text-decoration: none;
}

#left3 a:hover {
    color: white;
}